html {
    background-color: rgb(238, 238, 238);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}


body {
    width: 100%;
   height: 100%;
}



#content {
    width: 90%;
    height: fit-content;
    background-color: white;
    width: 90%;
    min-height: 100%;
    height: fit-content;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-radius: 1.3rem;


}


nav {
   height: 2.5rem;
   line-height: 2.5rem;
   padding: 1%;
   border-bottom: 2px solid rgb(238, 238, 238);
   
}



h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline;
    position: relative;
    top: 2rem;
}



h3.price {
    margin-top: 0;
}


#price {
    float: right;
    display: inline;
    margin: 3%;
}



h4.shoe {
    margin-top: 3%;
}




h5 {
    font-weight: lighter;
    color: gray;
    margin: 0;
}



.search {
    width: 50%;
    height: auto;
    padding: 0.5rem;
    float: right;
    border-radius: 0.5rem;
    border: 1px solid rgb(238, 238, 238);

}


.radio {
    height: auto;
    float: left;  
}




.slideContainer {
    border-top: 2px solid rgb(238, 238, 238);
}


p#range {
    margin: 0;
}

#range {
    text-align: center;
}


#myRange {
    width: 100%;
}

#amount {
    border:0; 
    color:#f6931f; 
    font-weight:bold;
}








#title {
    display: inline;
    padding: 1%;
   
}




.price {
    margin-bottom: 0;
    width: 20%;
    display: inline-block;
    vertical-align: text-bottom;
}







.categories {
    padding: 3%;
    width: 20%;
    height: 100%;
    float: left;
    margin-right: 3%;
    border-right: 2px solid rgb(238, 238, 238);
    border-bottom: 2px solid rgb(238, 238, 238);
}


strong {
    cursor: pointer;
}



span {
  
    float: right;
  /*  width: 10%; */
    height: 10%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(-90deg);
    
}

span:hover {

    cursor: pointer;
    border-radius: 1%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(90deg);
}



h3#categories {
    width: auto;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10%;

}



input.dropdown {
    margin: 0;
    float: left;
}


.dropdown {
  height: 100%;
  width: 100%;
  display: none;

}

.dropdown:hover {
    display: block;
}




.sizes {
    border-top: 2px solid rgb(238, 238, 238);
}


.button {
    font-size: normal;
    font-weight: bold;
    width: auto;
    height: auto;
    padding: 3%;
    margin: 1%;
    border-radius: 0.5rem;
    border: 2px solid rgb(172, 172, 172);
    background-color: rgb(238, 238, 238);
}

.button:hover {
    background-color: rgb(172, 172, 172) ;
}




.shoes {
    display: flex;
    margin-left: 3%;
    margin-top: 5%;
    gap: 1.5rem;
    flex-wrap: wrap;
}




.shoeLabel {
    display: inline-block;
    background-color: white;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 0.5rem;
  /*  margin-right: 4%;
    margin-bottom: 5%;
    */
    width: 33%;
    height: auto;
    padding: 4%;
    text-align: left;
    line-height: normal;
  
}


img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 12%;
    vertical-align: text-bottom;
}


.thumb {
    width: 30%;
    display: inline;
    float: right;
    border: 2px solid rgb(238, 238, 238);
    margin: 0;
}




